<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="row" style="text-align:center">
            <p>本项目由<a href="https://github.com/opdss" target="_blank">@opdss</a> and <a href="https://github.com/vanki" target="_blank">@vanki</a>支持与维护</p>
            <p>有任何意见请<a href="mailto:opdss@qq.com">联系我们</a></p>
            <p>本项目源码受 <a rel="license" href="https://github.com/opdss/ManageApi/blob/master/LICENSE" target="_blank">APACHE</a>开源协议保护。</p>
        </div>
    </div>
</footer>