/* 头部 */
.v_head {

}

.v_navbar_left {
    float: left;
    width: 20%;
    color: red;
}

.v_navbar_middle {
    float: left;
    width: 60%;
}

.v_navbar_right {
    float: left;
    width: 20%;
    color: blue;
}


/* 底部 */
.v_foot {

}