.v_body {
}

.v_body_left_tree {
    width:300px;
    float:left;
    margin-right:10px;
}

.v_body_right_content {
}

.v_content_top {
    width:800px;
}

.v_content_top_method {
    width:100px;
}

.v_method_selected_txt {
    margin-right:6px;
}